.card {
    width: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 4px 8px black;
    transition: 1s;
    overflow: hidden;
}

.desc {
    padding: 5px;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0,0,255,0.5);
}
