
/* flexbox Direction => */
/* 
flex-direction: row;   // mains axis, left to right
flex-direction: row-reverse;   // mains axis, right to left 
flex-direction: column;   // mains axis, top to bottom
flex-direction: column-reverse;   // mains axis, bottom to top
 */

/* 
 justify-content: flex-start;
 justify-content: flex-end;
 justify-content: center;

 justify-content: space-between;
 justify-content: space-around;
 justify-content: space-evenly;
  */

/* Flex Wrap => */

/* flex-wrap:nowrap;
flex-wrap:owrap;
flex-wrap:wrap-reverse;
 */

 /* Align items => */
/* 
 justify-content : flex-start;
 justify-content : flex-end;
 justify-conent : baseline;
 justify-content : center; */

/* Aligen-content => */

 /* align-content: flex-start/ flex-end / center */
 /* align-content: space-between / space-around / evenly */
 /* align-content:baseline */

/* Align Self=> Align an item along the cross axis*/

/* align-self: flex-start;
  align-self: flex-end;
  align-self:flex-end;
  align-self:center;
  align-self:baseline; */

/* Flex Sizing=> */

  /* flex-basis: 100px; 
     flex-grow: 1      
     flex-shrink: 1      */



#container {
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;       
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
     
}

h1{
    text-align: center;
}

#container div{
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}








