/* section {
    margin-top: 10px;
}

div {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px auto;
}

div:nth-of-type {
    background-color: #f7db6a;
}

div:nth-of-type(3n) {
    background-color: #ebb02d;
}


/* transform */
/* 
#one {
    transform: rotate(45deg);
}

#two{
    transform:scale(0.5) ;
}

#three {
    transform: translatex(100px);
}

#four{
    transform: skew(38deg);
}

#five{
    transform: rotate(30deg) translateX(150px);
}  */




div {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    margin: 10px auto;
    box-shadow: 2px 2px 8px blue;

}