div {
    height: 200px;
    width: 500px;
    background-color: aqua;
    /* border-width: 5px;
    border-style:  solid;
     border-color: black; */
    /* border-left-color: blueviolet;
     border-left-style: dashed; */
    /* border-top: 5px dashed black; */
    border: 5px solid black;
    border-radius: 10px;
    padding-top: 10px;
    margin: 20px 30px 40px 50px;
}

    h1 {
        /* border-width: 2px;
    border-style: dashed;
    border-color: brown; */
        border: 2px dashed brown;
        /* border-radius: 50%; */
        margin: 0;
    }

    button {
        border: 2px solid black;
        /* border-radius: 10px; */
        padding: 0 30px 0 30px;
        /* padding-left: 25px;
    padding-right: 25px;
    background-color: yellow; */
    }