.container {
    width: 600px;
    height: 300px;
    background-color: yellow;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    
  

    /* grid-template-columns: repeat(auto-fit, 100px); */
    /* grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-columns: 200px 200px 200px; */
 
}

.item {
    /* width: 100px;
    height: 50px;   */
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}

.one{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    
    /* grid-column: 1/4; */
    grid-column: 1/span 2;
}

.two {
    /* grid-row-start: 1;
    grid-row-end: 3; */
    grid-row: 1/span 3;
}

